* {
  margin: 0;
}

:root {
  --header-radius: 30px;

  --white-rgb: 253, 251, 248;
  --dim-white-rgb: 204, 199, 194;
  --gray-rgb: 56, 48, 48;
  --dim-gray-rgb: 45, 38, 38;
}

body {
  background-color: rgb(var(--dim-gray-rgb));

  font-size: 100%;
  font-family: "Georgia", Georgia, "Times New Roman", Times, serif;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
  color: rgb(var(--white-rgb));
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.1em;
}

p {
  font-size: 0.9em;
  color: rgb(var(--dim-white-rgb));
}

.banner {
  position: sticky;
  top: 0;
  margin: 0;

  width: 100%;
  box-sizing: border-box;
  /* background-color: dimgray; */
}

.header {
  border-bottom: 2px solid rgb(var(--white-rgb));
  border-bottom-left-radius: var(--header-radius);
  border-bottom-right-radius: var(--header-radius);
  background-color: darkred;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.title-container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.title {
  text-align: center;
  vertical-align: middle;
}

.tab-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.tab {
  width: 100%;
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tab + .tab {
  border-left: solid 1px rgb(var(--white-rgb));
}

.tab:first-of-type {
  border-bottom-left-radius: var(--header-radius);
}

.tab:last-of-type {
  border-bottom-right-radius: var(--header-radius);
}

.tab-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;

  text-align: center;
  color: rgb(var(--white-rgb));
  text-decoration: none;
}

.tab:not(.active):hover {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25), 80%, rgba(0, 0, 0, 0));
}

.tab:not(.active):active {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), 80%, rgba(0, 0, 0, 0));
}

.content {
  padding: 10px;
}

.active {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), 80%, rgba(0, 0, 0, 0));
}

.white {
  color: rgb(var(--white-rgb));
}

.off-white {
  color: rgb(var(--dim-white-rgb));
}